* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}



header{
  position:fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Times;
  font-style: oblique;
}

.top{
  margin-top: 0;
  background-color: black;
  color: white;
  list-style: none;
  padding: 0 0 10px 0;
  letter-spacing: 1px
}
.top > li {
  display: inline-block;
  padding: 0 20px 0 20px ;
  font-size: 11px;
}
.top > li > a{
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.top > li > a:hover{
  border-color: white;

}
}

body{
  max-width:100%;
}
.boitelogo{
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
  .logo{
    width:100%;
    height: 100%;
  }

#blocdestination {
  width: 100%;
  text-align: center;
}
  #blocdestination h1 {
    /* position: absolute; */
    font-family: 'Cookie', cursive;
    font-size: 90px;



  }

  #blocdestination bloc {
    width: 100%;
    font-family: 'Dancing Script', cursive;
    /* text-align: center; */
  }

.image1paris{
  height: 100vh;
  width:100%;
  background-image: url(img/paris.jpg);
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
