
header{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.menu{
  background-color: #fff;
  color: black;
  list-style: none;
  text-align: center;
  padding: 25px 0 0 0;
}
.menu > li {
  display: inline-block;
  padding: 0 50px 0 50px ;
  font-size: 30px;
}
.menu > li > a{
  text-decoration: none;
  color: black;
}

.menu > li > a:hover{
  color: #C60A04;
}
.logo{
  float:left;
  padding-left: 0;
  margin-top: 0;
}
.logo > a{
  color: black;
  text-decoration: none;
}
.desmois {
  width: 100%;
  display: block;
}
.desmois > banner-img{
  width: 100%;
}

.oualler{
  text-align: center;
  font-family: fantasy;
  font-size: 70px;
  list-style-type: none;
  border-bottom: 2px solid transparent;
}
.oualler > a{
  text-decoration: none;
  color: #C60A04;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;

}
.oualler > a:hover{
  border-color: #C60A04;
}
