
header{
  margin: 0;
  padding: 0;
  font-family: arial;
}
.top{
  margin-top: 0;
  background-color: black;
  color: #fff;
  list-style: none;
  padding: 0 0 10px 0;
  letter-spacing: 1px
}
.top > li {
  display: inline-block;
  padding: 0 20px 0 20px ;
  font-size: 11px;
}
.top > li > a{
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.top > li > a:hover{
  border-color: white;

}
body{
  margin: 0;

}
.logo{
  position: relative;
  width: 62.5%;

}
.logo > a{
  color: black;
  display: block;
  width: 100%;
  height: 100;
  text-decoration: none;
}
.desmois {
  width: 100%;
  display: block;
}
.desmois > banner-img{
  width: 100%;
}


.our{
max-width: 500px
}
.our :hover{

}
.menu{
  text-align: center;
  color: #fff;
  list-style: none;
  padding: 0 0 0 0;
}
.menu > li {
  display: inline-block;
  padding: 0 50px 0 50px ;
  font-size: 20px;
}
.menu > li > a{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.menu > li > a:hover{
  border-color: black;
