._5mmh{font-size:14px;margin:0 0 24px}._5mm3{margin:12px 12px 24px 12px}
.sp_3MZ0xziO-l7{background-image:url(/rsrc.php/v3/yJ/r/OPwGLvsRIdc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:40px}.sp_3MZ0xziO-l7.sx_4dac3a{background-position:0 0}.sp_3MZ0xziO-l7.sx_3699b8{background-position:0 -33px}

#bootloader_QK36D{height:42px;}.bootloader_QK36D{display:block!important;}