
#logo {
  width: 100%;
  text-align: center;
}

#innerlogo {
  display: inline-block;
}
header{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
}
img.slide{
  width:1200px;
  height:500px;
}
.top{
  margin-top: 0;
  background-color: black;
  color: #fff;
  list-style: none;
  padding: 0 0 10px 0;
  letter-spacing: 1px
}
.top > li {
  display: inline-block;
  padding: 0 20px 0 20px ;
  font-size: 11px;
}
.top > li > a{
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.top > li > a:hover{
  border-color: white;

}
body{
  margin: 0;

}
@keyframes fadeIn {
  from { opacity: 0; }
}
.slideShow{
max-width: 500px;
animation: fadeIn 2s infinite alternate;
}
.slideShow :hover{

}
.menu{

  font-family: cursive;
  text-align: center;
  color: #fff;
  list-style: none;
  padding: 0 0 0 0;
}
.menu > li {
  display: inline-block;
  padding: 0 50px 0 50px ;
  font-size: 20px;
}
.menu > li > a{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.menu > li > a:hover{
  border-color: black;
}
.dropbtn {
    background-color: black;
    color:whitesmoke ;
    font-size: 11px;
    border: none;
    cursor: pointer;
    border-radius:5px;
}

/* Dropdown button on hover & focus */
.dropbtn #Recherche :hover, .dropbtn:focus {
    border-bottom:2px solid transparent;
  border-bottom-color: white;
  border-radius:5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content input {
    color: black;
    font-family:cursive;
    font-size:12px;
    text-decoration: none;
}
.dropdown-content #ar{
 display:block;
}

/* Change color of dropdown links on hover */
.dropdown-content input:hover {background-color: red}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */


#Recherche{
  list-style: none;
  color: white;

}
.show {
  display:inline-block;
}
